/* thanks http://www.htmlgoodies.com/beyond/css/how-to-create-horizontal-navigation-with-css3.html */
/* line 3, /Users/alexreinking/Development/bandmate/app/assets/stylesheets/style.scss */
#masthead {
  /*margin: 0; */
  margin-top: -1%;
  padding: 0;
  background: #1B2630;
  color: white;
}

/* line 11, /Users/alexreinking/Development/bandmate/app/assets/stylesheets/style.scss */
#masthead ul {
  list-style-type: none;
  height: auto;
  padding: 10px 40px 10px 40px;
}

/* line 17, /Users/alexreinking/Development/bandmate/app/assets/stylesheets/style.scss */
#brand-nav {
  font-size: 250%;
  color: white;
}

/* line 22, /Users/alexreinking/Development/bandmate/app/assets/stylesheets/style.scss */
#masthead li {
  display: inline;
  font-size: 150%;
}

/* line 27, /Users/alexreinking/Development/bandmate/app/assets/stylesheets/style.scss */
#masthead a {
  text-decoration: none;
  color: #D6D840;
  padding: 10px 40px 10px 40px;
}

/* line 33, /Users/alexreinking/Development/bandmate/app/assets/stylesheets/style.scss */
#masthead a:hover {
  color: white;
  background-color: #2E4154;
}

/* line 38, /Users/alexreinking/Development/bandmate/app/assets/stylesheets/style.scss */
body {
  margin: 0;
  font-size: 90%;
  font-family: 'Montserrat', sans-serif;
  color: #1B2630;
  background-size: cover;
}

/* line 46, /Users/alexreinking/Development/bandmate/app/assets/stylesheets/style.scss */
.cover {
  padding-bottom: 10px;
}

/* line 50, /Users/alexreinking/Development/bandmate/app/assets/stylesheets/style.scss */
.cover-heading {
  font-size: 50pt;
  padding-left: 12%;
  padding-top: 25%;
}

/* line 56, /Users/alexreinking/Development/bandmate/app/assets/stylesheets/style.scss */
#lead1 {
  color: #FF8E98;
  font-size: 200%;
  padding-left: 15%;
  margin-top: -1.5%;
}

/* line 63, /Users/alexreinking/Development/bandmate/app/assets/stylesheets/style.scss */
#lead2 {
  color: #D16969;
  font-size: 200%;
  padding-left: 10%;
  margin-top: -1.5%;
}

/* line 70, /Users/alexreinking/Development/bandmate/app/assets/stylesheets/style.scss */
#lead3 {
  color: #FF8E98;
  font-size: 200%;
  padding-left: 1%;
  margin-top: -1.5%;
}

/* line 77, /Users/alexreinking/Development/bandmate/app/assets/stylesheets/style.scss */
.btn-default {
  margin: 0 auto;
  text-align: center;
  font-size: 175%;
  background-color: #1B2630;
  color: #D6D840;
  /* opacity: .4; */
  padding: 15px;
  /*border: 3px solid #D6D840; */
  border-radius: 25px;
  text-decoration: none;
}

/* line 90, /Users/alexreinking/Development/bandmate/app/assets/stylesheets/style.scss */
.btn-default:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* line 94, /Users/alexreinking/Development/bandmate/app/assets/stylesheets/style.scss */
#learn {
  /*margin-top: 90%; */
  margin-left: 38%;
}

/* line 99, /Users/alexreinking/Development/bandmate/app/assets/stylesheets/style.scss */
#facebooklogin {
  margin-left: 5px;
}

/* line 103, /Users/alexreinking/Development/bandmate/app/assets/stylesheets/style.scss */
a:link {
  color: #D6D840;
}

/* visited link */
/* line 108, /Users/alexreinking/Development/bandmate/app/assets/stylesheets/style.scss */
a:visited {
  color: #D6D840;
}

/* mouse over link */
/* line 113, /Users/alexreinking/Development/bandmate/app/assets/stylesheets/style.scss */
a:hover {
  /*color: #444514; */
}

/* selected link */
/* line 118, /Users/alexreinking/Development/bandmate/app/assets/stylesheets/style.scss */
a:active {
  color: #D6D840;
}

/* line 122, /Users/alexreinking/Development/bandmate/app/assets/stylesheets/style.scss */
#foot {
  margin-top: 10px;
  color: #FF7572;
  text-decoration: none;
}

/* line 128, /Users/alexreinking/Development/bandmate/app/assets/stylesheets/style.scss */
#aboutus {
  margin-top: 22%;
  margin-left: 11%;
  margin-right: 27%;
  padding: 5px 5px 5px 5px;
}

/* line 135, /Users/alexreinking/Development/bandmate/app/assets/stylesheets/style.scss */
.mastfoot {
  text-align: center;
}
