<div id="aboutus">
  <h1>About Us</h1>

  <p id="firstp">We all want to create something great. Whether that's a hack or a vaccine, a novel or a Billboard hit,
    the drive to make, and make well, is a powerful force. We get it. In addition to being coders, our develops are
    musicians, writers, teachers, and engineers. We want to help give you and your art all the tools to succeed.
    <span class="highlight">Bandmate</span> is a platform to help musicians find each other and work together. There
    are enough instrumentalists to go around, and we're here to help you find them. Whether you want a bassist in your
    town to jam with, or a flutist half the world away who <em>also</em> enjoys electro-ska-swing, odds are there are
    other people who like the same music as you and want to make it.<br>We'll leave the ideas to you. We're just your
    helpful groupies.<br>
    <span class="highlight">So what are you waiting for?</span>
  </p>
</div>
