<div class="cover">
  <h1 class="cover-heading">Bandmate</h1>
  <p id="lead1">Create your sound.</p>
  <!-- <p id="lead2">Find your musical soul mate.</p> -->
  <p id="lead3">Collaborate with musicians around the world.</p>
</div>